* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
    padding: 0;
    margin: 0;
} 
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;

}
ul {
    list-style: none;
}
.container {

    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

}
@media (min-width: 768px){

    .container{
        width:750px;
        
    }
}

/* Medium Screen */
@media (min-width: 992px){

    .container{
        width:970px;
        
    }
}

/* Large Screen */ 
@media (min-width: 1200px){

    .container{
        width:1170px;}}

    
@media (max-width: 767px) {
    .container div {

        padding: 20px;
        grid-template-columns: repeat(18, 55px);
        row-gap: 5px;
        column-gap: 5px;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        color: #F8BB51;
        background-color:#E66955 ;
        font-size: 12px;
        font-weight: bolder;
        right: 50%;
    }
    .container {
        
        height: 700px;
        position: relative;
        width: 1800px;
    
    }
    }
    @media (max-width: 1200px) {
        .container div {
    
            padding: 20px;
            grid-template-columns: repeat(18, 55px);
            row-gap: 5px;
            column-gap: 5px;
            align-items: flex-start;
            justify-content: center;
            align-content: center;
            color: #F8BB51;
            background-color:#E66955 ;
            font-size: 12px;
            font-weight: bolder;
            right: 50%;
        }
        .container {
            
            height: 700px;
            position: relative;
            width: 1800px;
        
        }
        }





.container {
            display: grid;
            background-color: #47B39C;
            margin: 20px auto; 
        
    }
div {
    padding: 20px;
    grid-template-columns: repeat(18, 55px);
    
    row-gap: 5px;
    column-gap: 5px;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    color: #F8BB51;
    background-color:#E66955 ;
    font-size: 20px;
    font-weight: bolder;
    
}
.aa2 {
    grid-column: 2/18;
    opacity: 0;
}
.ab2 {
    grid-column: 4/13;
    opacity: 0;
}
.ac2 {
    grid-column: 4/13;
    opacity: 0;
}
.container div:hover {
    transform: scale(1.8, 1.8);
    z-index: 1;
    transition-duration: .5s;
}
::selection {
    background-color: black;
    color: yellow;
}

